<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <style>
    * {
      margin: 0%;
      padding: 0%;
      box-sizing: border-box;
    }
    body {
      margin: 0%;
      width: 100%;
      height: fit-content;
      background-color: white;
    }
  </style>
  <body>
    <div style="display: flex; margin-top: 2%; justify-content: space-between">
      <a href="/dashboard">
        <img
          width="30"
          src="https://img.icons8.com/windows/32/40C057/back.png"
          alt="back"
          style="padding-left: 1%"
        />
      </a>

      <h2 style="padding-right: 6%">Customer Service</h2>

      <h2></h2>
    </div>
    <br />

    <div
      style="
        display: flex;
        flex-direction: column;
        padding: 3%;
        justify-content: space-between;
        height: 50%;
      " 
    >
      <hr />
      <div style="height: 70px">
        <a
          href="https://wa.me/2348080957178"
          style="
            display: flex;
            align-items: center;
            height: 100%;
            font-size: 20px;
            font-family: sans-serif;
            padding: 3%;
            text-decoration: none;
          "
        >
          <img
            width="50"
            height="50"
            src="https://img.icons8.com/ios/50/40C057/whatsapp--v1.png"
            alt="whatsapp--v1"
          />
          <p style="color: rgb(65, 204, 72); padding-left: 3%">Whatsapp CS</p>
        </a>
      </div>
      <hr />
      <div style="height: 70px">
        <a
          href="https://t.me/powerfarm_cs"
          style="
            display: flex;
            align-items: center;
            height: 100%;
            font-size: 20px;
            font-family: sans-serif;
            padding: 3%;
            text-decoration: none;
          "
        >
          <img
            width="50"
            height="50"
            src="https://img.icons8.com/dotty/80/40C057/telegram-app.png"
            alt="telegram-app"
          />
          <p style="color: rgb(65, 204, 72); padding-left: 3%">Telegram CS</p>
        </a>
      </div>
      <hr />
    </div>
  </body>
</html>
