{%extends 'sitepages/site_base.html'%} {%block homepage_content%}{%load static%}
<style></style>
<h3
  style="
    margin-top: 1%;
    text-align: center;
    width: 100%;
    background: green;
    padding: 5px;
  "
>
  FARMPOWER
</h3>
<div>
  <!-- Carousel -->
  <div id="demo" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#demo"
        data-bs-slide-to="0"
        class="active"
      ></button>
      <button
        type="button"
        data-bs-target="#demo"
        data-bs-slide-to="1"
      ></button>
      <button
        type="button"
        data-bs-target="#demo"
        data-bs-slide-to="2"
      ></button>
      <button
        type="button"
        data-bs-target="#demo"
        data-bs-slide-to="3"
      ></button>
      <button
        type="button"
        data-bs-target="#demo"
        data-bs-slide-to="4"
      ></button>
      <button
        type="button"
        data-bs-target="#demo"
        data-bs-slide-to="5"
      ></button>
      <button
        type="button"
        data-bs-target="#demo"
        data-bs-slide-to="6"
      ></button>
      <button
        type="button"
        data-bs-target="#demo"
        data-bs-slide-to="7"
      ></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img
          height="250"
          src="https://th.bing.com/th/id/R.291037ce08c97e2480b2d701654ff281?rik=t8omcTS9puNTJQ&pid=ImgRaw&r=0&sres=1&sresct=1"
          alt="Los Angeles"
          class="d-block w-100"
        />
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img
          height="250"
          src="https://th.bing.com/th/id/R.3515adbed11d830f2cc23db4facc7202?rik=bSnUi9hP4OfRvQ&riu=http%3a%2f%2fassets.cnhindustrial.com%2fnhag%2fnar%2fen-us%2fPublishingImages%2fnews%2f2018%2fnew-holland-pushes-operational-performance-at-farm-progress.jpg&ehk=dyRkWjKQ5Zz88xAuLYfGaDJU7uU51FRf%2beAIuKkqnjk%3d&risl=&pid=ImgRaw&r=0"
          alt="Chicago"
          class="d-block w-100"
        />
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img
          height="250"
          src="https://th.bing.com/th/id/R.611ae26b5f8b72f0520f12bb0555ea17?rik=MtzYm2FwCNp8XQ&pid=ImgRaw&r=0"
          alt="New York"
          class="d-block w-100"
        />
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img
          height="250"
          src="https://th.bing.com/th/id/R.3c05a76cad39e6f381edbdb24218d26a?rik=I%2fnSdnFIrDz%2fsQ&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f3%2f7%2f3%2f445770.jpg&ehk=SJCwILFMugKcuj25HSm3IqTbXusurVN3jeSkd6DQUN8%3d&risl=&pid=ImgRaw&r=0"
          alt="New York"
          class="d-block w-100"
        />
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img
          height="250"
          src="https://th.bing.com/th/id/OIP.G2JPHoqpJs-jsU64ZTPdFgHaE3?pid=ImgDet&rs=1"
          alt="New York"
          class="d-block w-100"
        />
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img
          height="250"
          src="https://th.bing.com/th/id/OIP.GXE73epbxLYanOTfwibLtAHaE7?rs=1&pid=ImgDetMain"
          alt="New York"
          class="d-block w-100"
        />
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img
          height="250"
          src="https://th.bing.com/th/id/OIP.p_YED2_4d7-5Tfslvf3NaQHaE8?w=1024&h=683&rs=1&pid=ImgDetMain"
          alt="New York"
          class="d-block w-100"
        />
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img
          height="250"
          src="https://myoldmachine.com/uploads/monthly_2018_08/image.jpeg.bd6f40b77789fcf58e45ee9c494bbbd4.jpeg"
          alt="New York"
          class="d-block w-100"
        />
      </div>
    </div>

    <!-- Left and right controls/icons -->
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#demo"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#demo"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
  <div class="About" style="padding: 3%">
    <h1
      style="
        color: #000000;
        font-family: sans-serif;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
      "
    >
      About
    </h1>
    <p style="padding-bottom: 30%">
      FarmPower's investment platform, TW, is once again focusing on the farm
      equipments sector. <br />
      Company Introduction FarmPower TW(Top Wealth) Founded in 2012, FarmPower
      has built a portfolio of high quality investments with the vision of
      realizing sustainable growth in shareholder value by generating ideal
      returns on equity over the long term. These investments cover a wide range
      of sectors, including biotechnology, digital currency, metaverse,
      biomedical and artificial AI. <br />
      <br />
      FarmPower was established in International Exchange Square, Central, Hong
      Kong. After more than 11 years of hard work and development, the company
      has a complete business model. They have extensive experience and rich
      expertise in the financial field. Their investment team continuously
      pursues superior investment performance through in-depth research and
      extensive market insights. Whether it is biotechnology, funds, digital
      currencies, meta-universe, biomedicine and artificial AI, their team uses
      their unique insights and analytical skills to develop the best investment
      strategies for their clients. <br />
      <br />
      FarmPower is committed to tapping into innovative technologies to drive
      growth in various industries, and has created the T.W (Top Wealth)
      investment platform in 2022 and provides diversified investment
      opportunities for investors. Lawrence, the president of T.W (Top Wealth)
      Investment Platform, said in a public speech: Our team will do our best to
      control the risk and dedicate ourselves to delivering better investment
      portfolios to the users of our (T.W) Investment Platform. We welcome more
      investors to join our (T.W) investment platform to become rich with us!
    </p>
  </div>

  {%endblock%}
</div>
