{%extends 'sitepages/site_base.html'%} {%block homepage_content%}
<!-- JavaScript function for confirmation -->

<section style="background-color: rgb(255, 255, 255); height: 100%">
  <br />
  <h2 style="text-align: center">Machines</h2>
  <!-- TRACTOR A-1E2 -->
  <div
    style="
      padding-top: 10%;
      padding-left: 5%;
      font-family: sans-serif;
      height: 20%;
      border: 2px solid gray;
      padding: 2%;
      margin-top: 5%;
      margin-right: 3%;
      margin-left: 3%;
      border-radius: 20px;
    "
  >
    <div style="display: flex; justify-content: space-between">
      <img
        src="https://www.jbrockandsons.com/cms-files/5a29/5a292ca43cdc4.jpg"
        alt=""
        width="170"
        height="130"
        style="border-radius: 10px"
      />
      <div style="color: rgb(0, 0, 0); line-height: 12px">
        <h1 style="font-size: 17px; font-weight: 600">Tractor A-1E2</h1>
        <p>Price: 2000</p>
        <p>Period: 30days</p>
        <p>Daily Income: 120</p>
        <p>Total income: 4200</p>
      </div>
    </div>
    <a href="/select/A-1E2/2000/120"
      ><button
        style="
          font-family: sans-serif;
          margin-top: 4%;
          width: 100%;
          height: 40px;
          font-size: 17px;
          border-radius: 40px;
          border: none;
          background: rgb(26, 159, 53);
          color: white;
        "
      >
        Purchase
      </button></a
    >
  </div>

  <!-- HARVESTER A2-1E4-->
  <div
    style="
      padding-top: 10%;
      padding-left: 5%;
      font-family: sans-serif;
      height: 20%;
      border: 2px solid gray;
      padding: 2%;
      margin-top: 5%;
      margin-right: 3%;
      margin-left: 3%;
      border-radius: 20px;
    "
  >
    <div style="display: flex; justify-content: space-between">
      <img
        src="https://store.hurontractor.com/cms/file-storage/new-equipment/725d_drapers_platform.jpg"
        alt=""
        style="border-radius: 10px"
        width="170"
        height="130"
      />
      <div style="color: rgb(0, 0, 0); line-height: 12px">
        <h3 style="font-weight: 600; font-size: 17px">Harvester A2-1E4</h3>
        <p>Price: 4000</p>
        <p>Period: 30days</p>
        <p>Daily Income: 250</p>
        <p>Total income: 7500</p>
      </div>
    </div>
    <a href="/select/A2-1E4/4000/250">
      <button
        style="
          font-family: sans-serif;
          margin-top: 4%;
          width: 100%;
          height: 40px;
          font-size: 17px;
          border-radius: 40px;
          border: none;
          background: rgb(26, 159, 53);
          color: white;
        "
      >
        Purchase
      </button>
    </a>
  </div>

  <!-- TRACTOR A-2E2 -->
  <div
    style="
      padding-top: 10%;
      padding-left: 5%;
      font-family: sans-serif;
      height: 20%;
      border: 2px solid gray;
      padding: 2%;
      margin-top: 5%;
      margin-right: 3%;
      margin-left: 3%;
      border-radius: 20px;
    "
  >
    <div style="display: flex; justify-content: space-between">
      <img
        src="https://th.bing.com/th/id/OIP.KZz8sMrchIIJGFMxxBAE3AHaE8?pid=ImgDet&rs=1"
        alt=""
        style="border-radius: 10px"
        width="170"
        height="130"
      />
      <div style="color: rgb(0, 0, 0);line-height: 12px">
        <h3 style="font-size: 17px; font-weight: 600">Tractor A-2E2</h3>
        <p>Price: 9000</p>
        <p>Period: 30days</p>
        <p>Daily Income: 540</p>
        <p>Total income: 16200</p>
      </div>
    </div>
    <a href="/select/A-2E2/9000/540">
      <button
        style="
          font-family: sans-serif;
          margin-top: 4%;
          width: 100%;
          height: 40px;
          font-size: 17px;
          border-radius: 40px;
          border: none;
          background: rgb(26, 159, 53);
          color: white;
        "
      >
        Purchase
      </button>
    </a>
  </div>

  <!-- HARVESTER PW2-E20-->
  <div
    style="
      padding-top: 10%;
      padding-left: 5%;
      font-family: sans-serif;
      height: 20%;
      border: 2px solid gray;
      padding: 2%;
      margin-top: 5%;
      margin-right: 3%;
      margin-left: 3%;
      border-radius: 20px;
    "
  >
    <div style="display: flex; justify-content: space-between">
      <img
        src="https://th.bing.com/th/id/R.57a00e1842bcc0daf1cf6dacda9f4551?rik=QOth4dNfDGVnpA&pid=ImgRaw&r=0"
        alt=""
        style="border-radius: 10px"
        width="170"
        height="130"
      />
      <div style="color: rgb(0, 0, 0); line-height: 12px">
        <h3 style="font-weight: 600; font-size: 14px">Harvester PW2-E20</h3>
        <p>Price: 15000</p>
        <p>Period: 30days</p>
        <p>Daily Income: 950</p>
        <p>Total income: 28500</p>
      </div>
    </div>
    <a href="/select/PW2-E20/15000/950">
      <button
        style="
          font-family: sans-serif;
          margin-top: 4%;
          width: 100%;
          height: 40px;
          font-size: 17px;
          border-radius: 40px;
          border: none;
          background: rgb(26, 159, 53);
          color: white;
        "
      >
        Purchase
      </button>
    </a>
  </div>
  <!-- SPRAYER A2-A20-->
  <div
    style="
      padding-top: 10%;
      padding-left: 5%;
      font-family: sans-serif;
      height: 23%;
      border: 2px solid gray;
      padding: 2%;
      margin-top: 5%;
      margin-right: 3%;
      margin-left: 3%;
      border-radius: 20px;
    "
  >
    <div style="display: flex; justify-content: space-between">
      <img
        src="https://th.bing.com/th/id/OIP.NOksOdRmtfojLMOrjarISgHaE8?pid=ImgDet&rs=1"
        alt=""
        style="border-radius: 10px"
        width="170"
        height="130"
      />
      <div style="color: rgb(0, 0, 0); line-height: 12px">
        <h3 style="font-size: 17px; font-weight: 600">Sprayer A2-A20</h3>
        <p>Price: 30000</p>
        <p>Period: 30days</p>
        <p>Daily Income: 1830</p>
        <p>Total income: 54900</p>
      </div>
    </div>
    <a href="/select/A2-A20/30000/1830">
      <button
        style="
          font-family: sans-serif;
          margin-top: 4%;
          width: 100%;
          height: 40px;
          font-size: 17px;
          border-radius: 40px;
          border: none;
          background: rgb(26, 159, 53);
          color: white;
        "
      >
        Purchase
      </button>
    </a>
  </div>
  <br /><br /><br /><br /><br />
</section>

{%endblock%}
